# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/

# ==========================
# Obsidian
# ==========================
.obsidian/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# I.A
# ==========================
.codex
.agents